services:
  nginx:
    image: nginx:latest
    container_name: nginx-gateway
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/certs/cert.pem:/etc/nginx/ssl/cert.pem:ro
      - ./nginx/certs/key.pem:/etc/nginx/ssl/key.pem:ro
    restart: always
